[serial_485 serial485]
#serial: /dev/CrealityCFS
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
baud: 230400

[auto_addr]

[box]
bus:serial485
filament_sensor:filament_sensor_2
pre_cut_pos_x:38#48.0#223.8
pre_cut_pos_y:230.0#200
cut_pos_x:38#48.0#223.8
cut_pos_y:306#302
cut_pos_offset:1.3
#middle_cut_pos_y:
Tn_retrude:-20.00#-60
Tn_retrude_velocity:5000#360
Tn_extrude_temp: 220  #挤出温度
Tn_extrude: 140    #如果当前温度设置温度，预加热刀120
Tn_extrude_velocity: 360  #挤出速度
buffer_empty_len:10.00#缓冲器回抽预留长度，需要挤出缓冲器预留的长度 （切断挤出机内撞刀到挤出齿轮的长度）
clean_left_pos_x:187#158#铁氟龙擦嘴的左位置
clean_left_pos_y:305.5#304#280#306#380
clean_right_pos_x:210#170#铁氟龙擦嘴的右位置
clean_right_pos_y:305.5#304#306#380
clean_velocity:6000
cut_velocity:7000
extrude_pos_x:185#127#48.0#127
extrude_pos_y:305.5#304#220.0#380
box_first_clean_length:140
box_need_clean_length:140
box_need_clean_length_max:140
has_extrude_pos: 1         #有没有吐料需要  区分K1_MAX和f008
safe_pos_y: 291.5#290
# switch_pin:!nozzle_mcu:PB9
#cr_machine: 1 # default: 0: F008 / 1: K1SE
# version: 1
# clean_run_count:2
# cut_run_count:1
# extrude_pos_z:25.0
# Tn_line_len:10

switch_pin:nozzle_mcu:PA8
#cr_machine: 1 # default: 0: F008 / 1: K1SE
version: 1
extrude_pos_z:30.0
cut_run_count:1
tn_line_len:40.00
box_extrude_retry_num: 5
retrude_position_x: 38.0
retrude_position_y: 100

[gcode_macro BOX_CHECK_MATERIAL]
gcode:
  WAIT_EXTRUSION_ALL_MATERIALS

[gcode_macro BOX_LOAD_MATERIAL_WITH_MATERIAL]
gcode:
  M104
  IF_NEED_HOME
  BOX_ERROR_CLEAR
  BOX_CHECK_MATERIAL
  BOX_CUT_MATERIAL
  BOX_RETRUDE_MATERIAL
  BOX_GO_TO_EXTRUDE_POS
  BOX_NOZZLE_CLEAN
  BOX_EXTRUDE_MATERIAL
  BOX_EXTRUDER_EXTRUDE
  BOX_MATERIAL_FLUSH
  RESTORE_POSITION

[gcode_macro BOX_LOAD_MATERIAL_WITHOUT_MATERIAL]
gcode:
  M104
  BOX_CHECK_MATERIAL
  BOX_EXTRUDE_MATERIAL
  BOX_EXTRUDER_EXTRUDE
  BOX_MATERIAL_FLUSH

[gcode_macro BOX_QUIT_MATERIAL]
gcode:
  BOX_ERROR_CLEAR
  BOX_CHECK_MATERIAL
  BOX_CUT_MATERIAL
  BOX_RETRUDE_MATERIAL
  BOX_GO_TO_BOX_EXTRUDE_POS
  ;BOX_RETRUDE_MATERIAL_WITH_TNN
  ;BOX_MOVE_TO_SAFE_POS

# eg:
# BOX_EXTRUDE_MATERIAL TNN=T1A
# BOX_EXTRUDER_EXTRUDE TNN=T1A
# BOX_MATERIAL_FLUSH LEN=100 VELOCITY=360 TEMP=220
# BOX_RETRUDE_MATERIAL_WITH_TNN TNN=T1A

[gcode_macro BOX_INFO_REFRESH]
gcode:
  BOX_SET_PRE_LOADING ADDR={params.ADDR} NUM={params.NUM} ACTION=RUN
  M400
  BOX_GET_RFID ADDR={params.ADDR} NUM={params.NUM}
  M400
  BOX_GET_REMAIN_LEN ADDR={params.ADDR} NUM={params.NUM}
  M400


